.calculator {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;

    background-color: #000;
}

.display {
    padding: 20px;
    font-size: 2em;
    text-align: right;
    
    height: 20px;
    color: #ce9295;
    background-color: #000;
}

.button-panel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 15px;
    font-size: 1.5em;
    
    margin: 5px 5px 5px 5px ;

    background-color: #383838;
    color: #ccc;
    border-radius: 100px;
}
